{% extends 'base.html.twig' %}

{% block title %} Form {% endblock %}

{% block body %}
    <div class="container">
        <h2>Formulary Page</h2>
        <div>
            {{ form_start(form) }}
            {{ form_rest(form)}}
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}