{% extends 'base.html.twig' %}

{% block title %}Authors List {% endblock %}


{% block body %}
    <h2 class="container">
        <span class="float-end">
            <a href="{{ path("app_newAuthor") }}" class="btn btn-success btn-sm">Add</a>
        </span>
        List of Authors
    </h2>
    <div class="container">
        <ul class="list-group">
            {% for author in authors %}
            <li class="list-group-item">   
                <span class="float-end"> {# make a button for each author #}
                    <a href="{{ path("app_newAuthor", {id: author.id}) }}" class="btn btn-outline-warning btn-sm">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="{{ path("app_deleteAuthor", {id: author.id}) }}" class="btn btn-outline-danger btn-sm">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </span>
            {{ author.fullName }}
            </li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}