{% extends 'base.html.twig' %}

{% block title %}Authors List {% endblock %}


{% block body %}
    <h2 class="container">Books Formulary Page</h2>
    <div class="container row">
        <div class="col-sm-3">
                {{ include("front/template_part/_menu.html.twig", { pp: 'books', current: 0 }) }}
        </div>
        <div class="col-sm-9">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
